body {
  margin: 0;
  background-image: url("https://cdn5.idcgames.com/storage/image/1448/game_home_bg_section_2/default.jpg");
  background-size: cover;
  height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

li {
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

a {
  text-decoration: none;
  color: white;
}

.active {
  background-color: #0250c4;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.hero-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 100px;
  padding: 100px;
  font-weight: 700;
  font-size: 100px;
  color: white;
}

.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: blue;
}

.btn {
  color: white;
  background-color: skyblue;
}

.features {
  background-color: black;
}

.launch {
  font-weight: bolder;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.getintouch {
  text-align: center;
  padding: 25px;
}

.form-control {
  margin: 10px;
}

.contact-us {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submit-contact {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr {
  height: 3px;
  width: 400px;
  margin: auto;
  background: black;
}

.faqlist {
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.faqs {
  border: 1px solid skyblue;
  height: 420px;
  width: 650px;
  border-radius: 10%;
  background-color: skyblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
